[2011-03-17 09:06] aero opened #1 "Building Math-GSL-0.23 on Windows."
Do I need pkg-config to build Math-GSL?
it is not on Windows. :(

[2011-03-17 14:18] #1 closed, assigned to nobody

[2011-03-17 14:21] leto opened #2 "Function which returns which version of GSL Math::GSL was compiled against"
This would be useful for debugging purposes.

[2011-06-17 16:12] tadam opened #3 "update docs about GSL version"
README says "Currently Math::GSL requires at least Perl 5.8 and GSL 1.8 to compile."
But Math::GSL::Integration supports Gauss-Legendre integration and have such lines in code:

*gsl_integration_glfixed_table_alloc = *Math::GSL::Integrationc::gsl_integration_glfixed_table_alloc;
*gsl_integration_glfixed_table_free = *Math::GSL::Integrationc::gsl_integration_glfixed_table_free;
*gsl_integration_glf

[2011-07-18 15:59] tadam opened #6 "deferred callback execution"
I tried to use Math::GSL::Min and here is a problem with `gsl_min_fminimizer_iterate()` mentioned in KNOWN_BUGS.

This problem arises from typemap for `gsl_function`. It assumes that callback executes when we pass it to some `gsl_*` function.
But in Math::GSL::Min (and at least in Math::GSL::Root) we have a deferred callback execution: some function like `gsl_min_fminimizer_set_with_values()`takes

[2011-07-18 20:54] #3 closed, assigned to nobody

[2011-08-17 00:20] leto opened #7 "Marshalling of arrays of doubles"
Currently, Math::GSL can only marshall arrays of floats. As an example, the gsl_ran_dirichlet function cannot be used, because it requires an array of doubles: https://github.com/leto/math--gsl/blob/master/t/Randist.t#L38

[2011-08-17 00:45] leto opened #8 "Reading NTuples from a file doesn't work"
Since ->swig_ntuple_data_get returns a SWIG-encoded void pointer to the data

[2011-08-17 00:46] leto opened #9 "OO interface to NTuples is only a stub"
Some failing tests would be nice to pin down the API.

[2011-08-17 00:47] leto opened #10 "Only NTuples of integers currently supported"
Doubles should work too.

[2011-08-17 05:11] leto opened #11 "Mathieu functions do not work"
Why?

[2011-08-17 05:12] leto opened #12 "FFT's do not work"
Why?

[2011-08-17 05:13] leto opened #13 "gsl_set_error_handler_off() does not return a gsl_error_handler_t"
why?

[2011-08-17 05:13] leto opened #14 "gsl_histogram2d_clone() does not return a gsl_histogram_t"
why?

[2011-08-17 05:14] leto opened #15 "gsl_monte_function does not work"
Most likely needs some SWIG-fu

[2011-08-17 05:14] leto opened #16 "gsl_min_fminimizer_iterate does not work"
Needs some SWIG-fu

[2011-08-17 05:14] leto opened #17 "gsl_root_fsolver_iterate does not work"
Needs SWIG-fu

[2011-08-17 05:39] leto opened #18 "gsl_linalg_complex_LU_det"
This test needs to be fixed, or the bug that it triggers: https://github.com/leto/math--gsl/blob/master/t/Linalg.t#L194

[2011-08-17 18:29] cammonro opened #19 "Won't install on Mac OS"
I can't seem to successfully install any version of Math::GSL on the Mac. (Mac OS 10.6.8)

After installing Swig I get the following errors:

Building Math-GSL
Building wrappers for GSL 1.11
/opt/local/include/gsl/gsl_combination.h:71: Error: Syntax error in input(1).
error : No such file or directory while building ( -I/opt/local/include ) xs/Combination_wrap.1.11.c in pm/Math/GSL from 'swig/Comb

[2011-08-20 17:10] leto opened #20 "Math::GSL::VectorComplex->as_list doesn't work correctly"
See https://github.com/leto/math--gsl/blob/master/t/Matrix.t#L688 for failing tests. Also, these tests should probably be moved to a more appropriate location.

[2011-08-20 17:29] leto opened #21 "./Build dist is broken"
Since the merging of the code by @tadam to select between code for each version of GSL, we get an error like this when trying to build a new dist:

[code]

[2011-08-26 23:02] #21 closed, assigned to nobody

[2011-08-29 16:19] leto opened #26 "Docs for releasing Math::GSL to CPAN"
We need some kind of docs somewhere about how to release to CPAN and what is needed.

For instance, when releasing to CPAN, the distribution should be built with the latest released version of GSL installed, so that the bindings are available. Recently, I released to CPAN while only having GSL 1.14, so GSL 1.15 bindings weren't included.

[2011-08-30 13:57] leto opened #27 "Math::GSL tests uses installed version instead of in-repo version"
[code]
This error went away when I installed Math::GSL, then ran the tests again.

The test suite should not finding an installed Math::GSL before the in-repo version.

[code]

[2011-08-30 15:13] leto opened #29 "Version checking in Randist tests doesn't work"
When I run the Randist tests with GSL 1.15 and the latest Math::GSL, the version check:

[code]

doesn't do what it is supposed to do with version.pm 0.88 and perl 5.10.1.

[2011-08-30 19:00] #29 closed, assigned to nobody

[2011-08-31 06:13] sisyphus opened #30 "MS Windows needs patch to inc/GSLBuilder.pm (Math-GSL-0.25_04)"
Hi,
It's actually 2 separate issues here.

Firstly, on Windows, it's by no means guaranteed that my gcc compiler will be called 'gcc'. In fact, my x64 compiler is called 'x86_64-w64-mingw32-gcc'.
And on some builds of ActivePerl where gcc is being used, $Config{cc} will be set to /full/path/to/gcc.
The below patch caters for these possibilities.
Note that this first issue pre-dates Math-GSL-0.25.

[2011-09-03 22:12] tadam opened #32 "freeing a memory for double []"
More than one year ago here was commit that caused memory leaks:
https://github.com/leto/math--gsl/commit/5d88606cc0eafd49e3fbebb084b314b1815d0436

For example, if you use Math::GSL::Fit, it will cause a memory leak.

So I have tried to revert this change. Only QRNG.t test have failed because `gsl_qrng_get()` returns array of doubles.
With a little changes QRNG works correctly.

I have this commit

[2011-09-06 10:27] #14 closed, assigned to nobody

[2011-09-06 10:29] #6 closed, assigned to nobody

[2011-09-06 10:29] #17 closed, assigned to nobody

[2011-09-06 10:31] #16 closed, assigned to nobody

[2011-09-06 11:00] #32 closed, assigned to nobody

[2011-09-06 11:05] leto opened #33 "gsl_histogram2d_xsigma"
See a316328d2187e2 for a TODO test

[2011-09-06 11:38] leto opened #34 "xt/01-portability-files.t fails"
Due to files with multiple periods.

[2011-09-06 12:17] tadam opened #35 "gsl_root_fdfsolver subsystem doesn't work"
Because no typemaps for gsl_function_fdf here.

(I'm going to fix it soon.)

[2011-09-10 17:35] #30 closed, assigned to nobody

[2011-09-17 16:34] #2 closed, assigned to nobody

[2011-09-17 17:05] #19 closed, assigned to nobody

[2011-09-17 18:13] #11 closed, assigned to nobody

[2011-09-17 18:13] #27 closed, assigned to nobody

[2011-09-17 18:16] leto opened #36 "Mathieu function tests"
Can steal tests from the GSL test suite...

This is the list of all mathieu functions that need to be tested
- [ ]  gsl_sf_mathieu_a_array
- [ ]  gsl_sf_mathieu_b_array
- [x]  gsl_sf_mathieu_a
- [x]  gsl_sf_mathieu_b
- [ ]  gsl_sf_mathieu_a_coeff
- [ ]  gsl_sf_mathieu_b_coeff
- [ ]  gsl_sf_mathieu_alloc
- [ ]  gsl_sf_mathieu_free
- [x]  gsl_sf_mathieu_ce
- [x]  gsl_sf_mathieu_se
- [ ]  gsl_sf_math

[2011-09-18 16:28] leto opened #37 "Use Devel::PPPort to support older Perls"
Bug report from @sisyphus:

The use of the Newx() function in the following files means that Math-GSL-0.26 fails to build on perl-5.8.0:

xs\Chebyshev_wrap.1.11.c
xs\Chebyshev_wrap.1.12.c
xs\Chebyshev_wrap.1.13.c
xs\Chebyshev_wrap.1.14.c
xs\Chebyshev_wrap.1.15.c
xs\Deriv_wrap.1.11.c
xs\Deriv_wrap.1.12.c
xs\Deriv_wrap.1.13.c
xs\Deriv_wrap.1.14.c
xs\Deriv_wrap.1.15.c
xs\Diff_wrap.1.11.c
xs\Diff_wrap

[2011-10-10 15:14] leto opened #38 "Add Bspline example from Jurgen Rose"
[code]

[2011-10-14 23:36] leto opened #39 "Improve Math::GSL::Min SYNOPSIS"
The synopsis code should be more useful and print out some minimized values.

[2011-10-21 16:59] leto opened #40 "Bspline derivative functions"
Feature request from Juergen Rose:

I am missing the gsl_bspline_deriv_workspace, gsl_bspline_derive_free,
gsl_bspline_deriv_eval and gsl_bspline_deriv_eval_nonzero functions in
Math::GSL. There are available at least in gsl-1.15. How are the chances
that they will be implemented in Math::GSL?

[2012-07-08 13:10] jdeut opened #41 "latest version: build error"
I can't build the latest github version of math::gsl.

[code]

complains about a lot of missing files (see below). Then

[code]

aborts with the following error:

[code]

It would be so great, if i could get a fast reply from you experts. Since i have an error with my local Math::GSL with `gsl_root_fsolver_interate` and it seems to be fixed in the latest github version.

With best regards and than

[2013-01-24 09:54] aixtal opened #42 "Build error"
Build fails ( Mac OSx 10.8.2, gcc 4.6.3, swig 2.0.9) :

[code]

Same problem was reported here a long time ago on other systems, therefore it doesn't seem to be an OSx specific problem.

http://www.perlmonks.org/?node_id=891521

Thanks for your help.

[2013-01-24 18:50] #42 closed, assigned to nobody

[2013-01-31 21:05] leto opened #43 "Math::GSL on Ubuntu 12.04 + Perl 5.14"
This was reported by a Math::GSL user:

[code]

Who is at fault and what is the proper fix?

[2013-02-12 05:11] leto opened #44 "Compile fails on recent clang"
http://www.cpantesters.org/cpan/report/065b413e-6fbc-11e2-a2f1-82091a5d253f

This is related to the really crapping stub of a typemap for gsl_function_fdf in gsl_typemaps.i

[2013-02-14 18:00] leto opened #45 "Improve output when gsl-config is not found"
Currently, this crap gets printed out if the user does not have GSL installed

[code]

We should get rid of those warnings and add a few commands to install GSL via package managers, such as "brew install gsl" for OS X and etc.

[2013-02-15 02:01] leto opened #46 "PDL interop"
Add a function as_pdl() that would be used like this:

[code]

[2013-02-15 03:07] leto opened #47 "Add op overloading for Complex"
We should at least overload +, - and \* , just like our matrices and vectors.

[2013-02-19 17:01] #41 closed, assigned to leto

[2013-02-19 17:04] leto opened #48 "Make GSL_FDFSOLVER_BASIC test work"
Currently it blows up if un-commented, because the proper XS typemaps don't yet exist.

https://github.com/leto/math--gsl/blob/master/t/Roots.t#L23

[2013-09-03 07:26] rajan2002 opened #49 "Undefined subroutine error"
I am getting an error of "Undefined subroutine &Math::GSL::Sysc::gsl_nan called at C:/strawberry/perl/site/lib/Math/GSL/Sys.pm line 112". on Sys.pm module.

[2013-10-27 04:30] tantalate opened #50 "How to install Math::GSL with gsl version 1.16"
I'm using ubuntu 13.10, with gsl 1.16 (also libgsl0-dev 1.16)installed.
But I cannot build Math::GSL with this version.
There're other packages depending on gsl, and there's no other version of gsl in the source.
Can I install Math::GSL with GSL 1.16?

[2013-12-20 12:19] ronmrdechai opened #51 "Building on OS X with GCC"
I'm trying to build Math::GSL on OS X. The build script seems to use `clang` (OS X's default compiler) no matter what I pass to it. Building with `clang` fails miserably and throws lots of warnings. I've tried calling `perl Build.pl` like this

[code]

But it keeps using `clang` (clang has nice and colorful error messages, so it's easy to tell it apart from gcc). GSL's version is 1.14, and  gcc's

[2014-01-24 05:04] #51 closed, assigned to nobody

[2014-01-25 06:59] #49 closed, assigned to nobody

[2014-05-12 08:51] ambs opened #57 "A release, please? :-)"

[2014-05-25 05:40] oakbox opened #58 "Debian, moved from 5.10 to 5.14 and Build fails"
After upgrading my perl installation from 5.10 to 5.14 (as part of the distribution upgrade from Squeeze to Wheezy) I went through the usual round of finding and installing missed dependencies and missing modules.

When I came to installing Math-GSL, I hit a wall. Since my system is involved in psychological testing, I have a lot of statistics heavy lifting to do. I really don't want to go back to

[2014-06-04 14:07] #57 closed, assigned to nobody

[2014-06-04 18:27] #44 closed, assigned to nobody

[2014-06-04 18:27] #43 closed, assigned to nobody

[2014-06-04 21:27] #58 closed, assigned to nobody

[2014-06-04 21:29] #50 closed, assigned to nobody

[2014-06-04 21:32] ambs opened #64 "Use PkgConfig instead of ExtUtils::PkgConfig"
Today I noticed that it is too easy to get a system with everything needed to install Math::GSL... but pkg-config is not available. GIven the `.pc` file usually exists, anyway, we might have more luck using the PkgConfig module that should be a pure Perl implementation of pkg-config.

[2014-06-05 16:59] #64 closed, assigned to nobody

[2014-06-07 10:22] ambs opened #65 "gsl-config --libs not used, seems to fail on FreeBSD"
On FreeBSD (9.2, 10.0) the build fails even if gsl is installed with:

[code]

Looking at Build.PL it seems that the result of `gsl-config --libs` is queried, but then never used for linking.

Regards,
    Slaven

[2014-06-08 12:45] #65 closed, assigned to ambs

[2014-06-08 12:46] ambs opened #66 "Test failing on QRNG"
http://www.cpantesters.org/cpan/report/77f8e026-eeb9-11e3-9e8b-f516a16a80b0

[2014-06-09 16:36] ambs opened #67 "Remove 'assign' and 'element' function from Matrix module"
Unfortunately `assign` and `element` would never work as `Math::MatrixReal`, as on GSL indices start at 0 and not 1, like `Math::MatrixReal` :-(

[2014-06-09 16:44] ambs opened #68 "Operator * on matrices do elementwise multiplication?"
It seems that where this is documented:

[code]

is not true. It complains:

[code]

so, it seems like a elementwise multiplication.

@leto, can you please confirm?

[2014-06-09 17:08] #68 closed, assigned to nobody

[2014-06-09 17:24] #67 closed, assigned to nobody

[2014-06-12 17:30] #66 closed, assigned to ambs

[2014-06-13 20:01] ambs opened #69 "Use ExtUtils::CBuilder for the compilation task"
Always a bad idea to reinvent the wheel. If ExtUtils::CBuilder does the task and it is (still) in core, we should use it.

Some bugs I found recently wouldn't happen if we used it.

[2014-06-15 12:58] ambs opened #70 "Add my name somewhere :-)"

[2014-06-22 10:15] ambs opened #71 "implement the gsl_ran_shuffle, gsl_ran_choose and gsl_ran_sample"
Hi, It would be great if you could implement the gsl_ran_shuffle, gsl_ran_choose and gsl_ran_sample GSL functions into Math::GSL. I am mostly interested in gsl_ran_choose, but I think that it will quite easy to do the two other ones after the first has been done. For reference, the module PDL::RNG has implemented these methods here: https://github.com/dkogan/PDL/blob/master/Lib/GSL/RNG/gsl_random.

[2014-08-18 14:23] #70 closed, assigned to nobody

[2014-08-27 18:47] ambs opened #73 "gsl_fopen randomly crashes on some machines"
Although `gsl_fopen` works on most machines, lot of cpantesters were failing my module, and I had no idea why. Now, I think the fault is with `gsl_fopen`. But it is weird. Keep reading, that I'll try to explain why it is really weird.

First, arch is a debian 7 VM, with `libgsl 1.15`. `Math::GSL` Installed cleanly, as well as `Math::Matrix::MaybeGSL`.

My module starts by, at build time, read a ma

[2014-08-31 04:29] #71 closed, assigned to ambs

[2014-08-31 20:00] leto opened #76 "Histogram tests fail on OpenBSD/Perl 5.8.9"
[code]

from:
http://www.cpantesters.org/cpan/report/417f5db6-f72b-11e3-a67d-9fe3ee8e7edf

[2014-08-31 21:27] #47 closed, assigned to nobody

[2014-09-07 16:55] #73 closed, assigned to nobody

[2014-09-07 16:58] ambs opened #77 "Memory Management"
Somehow, we are using a lot of memory.
The `perl` process doesn't grow much (up to 2GB of RAM, that's OK) but at the same time, the `kernel_task` grows memory at the same time. It enlarges so much that I needed to reboot my mac.

But not sure yet what is going on.
Best,
ambs

[2014-09-11 16:38] ambs opened #79 "Extra debug information in Complex tests?"
[code]

[2014-09-11 16:50] #77 closed, assigned to nobody

[2014-09-14 15:54] #79 closed, assigned to leto

[2014-09-25 17:39] #26 closed, assigned to ambs

[2014-09-29 20:52] #76 closed, assigned to nobody

[2014-10-04 04:00] #39 closed, assigned to nobody

[2015-03-05 02:45] #45 closed

[2015-03-26 11:41] leto opened #86 "SVD tests and examples"
Doing a Singular Value Decomposition is a common task that we should have basic tests for and a little snippet in the docs that users can easily copy and paste and tweak.

SVD does not seem to be supported in pyGSL:

[2015-11-07 23:26] leto opened #89 "Support GSL 2.0"
I have a ```gsl2``` branch going that aims to support the latest GSL release, 2.0. They fiddled with their header files a bit which was causing swig to bomb out early in the compile process. I figured out that a few different subsystems needed ```gsl_inline.h``` to be included and that solved that issue.

GSL has started to wrap the definition of some things in a ```#ifndef GSL_DISABLE_DEPRECATED`

[2015-11-08 00:34] leto commented on #89
@ambs @tadam can you take a look at this branch and give some help if you have time? I am currently stuck on the `gsl_multifit_fdfsolver_dif_fdf` issue. If I comment out multifit_nlin it then gets stuck on a similar error about 4 sf_legendre functions. None of these are wrapped in any ifdefs. If I comment out the legendre function from the swig interface file compilation finishes.

[2015-11-08 11:39] ambs commented on #89
On 08/11/15 00:34, Duke Leto wrote:

great work, Leto!
I will try to peek in that branch today.
first need to find out if brew already knows about gsl 2.0 :)

See you!

[2015-11-08 20:44] leto commented on #89
Thanks @ambs! I briefly looked at updating homebrew for GSL 2.0 but I saw that it required hashes of something (not quite sure what) across 4 versions of OS X:

[2015-11-08 20:48] ambs commented on #89
WIll try to poke the formula author, who knows if I have luck!

[2016-03-03 08:42] leto commented on #7
This was fixed in https://github.com/leto/math--gsl/commit/1e8eb1c9c108a2297623018d47414419419c116d, though it needs to be added to functions individually

[2016-03-03 08:42] #7 closed

[2016-03-03 08:47] leto opened #90 "gsl_sf_bessel_Jn_array does not work"
Passing arrays tp functions was added a long time ago in https://github.com/leto/math--gsl/commit/1e8eb1c9c108a2297623018d47414419419c116d but it still needs to be applied to various functions.

Reported by Patrick DUPRÉ:

[code]

gives the error `TypeError in method 'gsl_sf_bessel_Jn_array', argument 4 of type 'double *' `

[2016-03-03 10:42] leto commented on #90
I have start a "bessel_array" branch that gets things started but the passed in array is not mutated. Could you give it a look @tnishimura and @tadam ? You are my resident XS ninjas. Thanks!

[2016-03-18 20:52] leto commented on #90
@ambs do you have any ideas or words of wisdom about this?

[2016-03-18 21:04] ambs commented on #90
Will try to give it a look during the weekend!

[2016-03-19 18:15] ambs commented on #90
At the moment, no error or output.

[2016-03-19 18:35] leto commented on #90
Yes, that is what I was getting on my branch. The issue is the Randist code that uses `array_wrapper` returns a single value instead of modifying the array of doubles that is passed in. My wrapper code needs to be changed to pass the data in by reference instead of by value, I think.

[2016-03-19 19:10] ambs commented on #90
Can't we just:

[code]

[2016-03-19 19:11] ambs commented on #90
with that, and
[code]
I get
[code]

[2016-03-19 19:12] ambs commented on #90
as a side note, could not find the documentation on what is the return integer semantic. Error, I imagine?

[2016-03-19 19:13] ambs commented on #90
(see bessel_array2 branch)

[2016-03-19 19:56] leto commented on #90
Awesome news! I believe it is 1 for error, 0 for success but it doesn't seem to be documented.

Now that we have this, it should be simple to support the other similar functions at:

https://www.gnu.org/software/gsl/manual/html_node/Bessel-Functions.html#Bessel-Functions

[2016-03-19 20:03] ambs commented on #90
Yeah, I think that too, that the return int is for error.
Not sure if we can die from XS code. That would be a good way to report exceptions.

Out of time slices for this today, can help a little tomorrow. If you wish, post here news, if you have them, so I can continue from there.

[2016-03-21 07:25] leto commented on #90
Thanks @ambs! I have implemented bindings for all array-based Bessel function on my "bessel_array" branch, which error checking of return values. Still working on finishing the tests and docs.

[2016-03-21 11:58] ambs commented on #90
@leto++

[2016-03-26 06:27] leto commented on #90
Just merged this into master. Everything but `gsl_sf_bessel_kl_scaled_array` is working because it doesn't seem to be found by SWIG. Odd thing is that the XS generated for GSL 2.0 had it from when I was testing that, but it is not found in 1.16.

[2016-03-26 06:27] #90 closed

[2016-03-26 06:28] leto opened #91 "gsl_sf_bessel_kl_scaled_array"
Why does SWIG find gsl_sf_bessel_kl_scaled_array in GSL 2.0 but not in 1.16?

[2016-03-27 17:28] leto opened #92 "Build.PL should bail for GSL >= 2.0"
We are starting to get CPANtesters emails that fail because their version of GSL is too new.

Here is one with GSL 2.1:

http://www.cpantesters.org/cpan/report/c88963dc-f3b0-11e5-bd7c-f29d8fb2e322

[2016-09-26 16:28] leto opened #93 "gsl_linalg_givens dumps core on GSL 2.0"
This seems to be related to passing in undef values for `$c` and `$s` in `gsl_linalg_givens($a, $b, $c, $s);`

Changing to `$c =0, $s=0` no longer dumps core and gives an error instead.

[code]

[2016-09-26 16:30] leto commented on #89
Well, I have GSL 2.0 compiling with the latest Math::GSL. Commenting out the test relating to https://github.com/leto/math--gsl/issues/93 gets us Linalg.t running and passing again.

So what is left is to see what is up with the Multifit.t test failures and the remaing SF.t test failures before we can release a Math::GSL that supports GSL 2.0.

[2016-09-26 16:46] leto opened #94 "Write test for gsl_linalg_gv"
https://www.gnu.org/software/gsl/manual/html_node/Givens-Rotations.html

[2016-09-26 16:46] leto commented on #36
See also: https://github.com/ampl/gsl/blob/master/specfunc/test_mathieu.c

[2016-09-26 17:03] leto commented on #92
Since we are close to having things working for 2.0, not going to do this for 2.0.

[2016-09-26 17:03] #92 closed

[2016-09-26 17:04] leto commented on #89
Looks like the SF.t failures are due to this:

http://git.savannah.gnu.org/cgit/gsl.git/commit/?id=de2ed0d0768f6e206f8cc7b07f2842b3f0b17843

We need to special-case our tests for GSL <2.0 and GSL >= 2.0.

[2016-09-28 19:43] leto commented on #89
0.37 is released and supports GSL 2.x : https://metacpan.org/release/LETO/Math-GSL-0.37

[2016-09-28 19:43] #89 closed

[2016-09-30 06:51] leto opened #95 "Add rstat subsystem"
rstat was added in GSL 2.0

[2016-09-30 08:17] leto opened #96 "GSL 2.0 build issues"
[code]

[2016-09-30 08:18] leto commented on #13
This seems to be related to the fact that gsl_error_handler_t is a typedef.

[2016-09-30 08:25] leto commented on #13
`typedef definitions appearing in a SWIG interface are not propagated to the generated wrapper code.`

The SWIG docs suggest something like:

[code]

[2016-09-30 08:31] leto opened #97 "GSL 1.16 build issues"
[code]

[2016-09-30 16:20] leto opened #98 "Generating unnecessary XS"
We currently generate an XS file for every subsystem and every version of GSL we support, even if that subsystem didn't exist for that version of GSL. For example, Multilarge was added in GSL 2.1 yet we have this:

[code]

Roughly an extra 2MB of XS source goes into our CPAN distribution (before zipping), not to mention the longer compile times when building from scratch with SWIG, for files that

[2016-09-30 16:23] ambs commented on #98
I would suggest to stop supporting anything before 1.16
For version 2, start supporting 2.0, 2.1 and 2.2.1 for now, and decide later on what to do, accordingly with released from GSL team.

[2016-09-30 17:35] leto commented on #98
Currently our Travis CI instance has GSL 1.15 and I think I have seen a few CPANTesters reports from 1.15 as well. I agree that supporting 1.11 through 1.14 is a burden, but I don't know how many people actually use Math::GSL with those older GSL versions.

[2016-09-30 17:37] ambs commented on #98
Sure, 1.14 or 1.15 is ok :)

[2016-09-30 18:46] leto commented on #97
Ok, this is what I have figured out.

GSL 2.0 merged `bspline_deriv_workspace` into `bspline_workspace`, which also means that `gsl_bspline_deriv_eval` and `gsl_bspline_deriv_eval_nonzero` take one less argument each. The `gsl_bspline_deriv.*` functions were added in GSL 1.15.

This means when we generate a CPAN distribution, we are using the new 4-arg form of `gsl_bspline_deriv_eval` for GSL 1.15

[2016-09-30 19:36] ambs commented on #97
As I do not have much time to help, please choose the easier way.
But as I will need four PRs for HacktoberFest,  who knows I can do one for Math::GSL

[2016-09-30 21:30] leto opened #99 "Point users without GSL to Alien::GSL"
If we bomb out because we can't find GSL, tell users to try Alien::GSL.

[2016-09-30 21:39] leto commented on #97
Making progress, now we have:

[code]

[2016-10-01 06:03] leto commented on #97
I navigated past these errors and will release 0.39 soon which should support 1.16 - 2.2.1 nicely and partial support for 1.15. I have 1.15 working nicely on Linux+GSL 1.15 but we get failures from Travis CI.

[2016-10-01 06:03] #97 closed

[2016-10-01 06:45] leto commented on #98
We now only support 1.15 and higher (as of 0.39). Our CPAN dist is now 12MB instead of 19MB and our SWIG compile times are way down.

[2016-10-01 06:45] #98 closed

[2016-10-01 06:46] leto commented on #96
This should all be fixed now in the 0.39 release.

[2016-10-01 06:46] #96 closed

[2016-10-01 06:49] leto opened #100 "Support mathieu and ellint SF functions again"
The only way I could figure out how to get 1.15 and 1.16 to compile were to completely ignore these functions in the 0.39 release, which means none of our users on any version of GSL can use them.

Ideally we would only ignore the functions for GSL 1.x or provide some kind of shim to work around the fact that the number of arguments changed.

[2016-10-01 07:02] leto opened #101 "Travis CI compile errors with Perl 5.20,5.22,5.24"
Things work fine up to Perl 5.18 and then BOOM:

https://travis-ci.org/leto/math--gsl/builds/164220872

[code]

[2016-10-01 20:06] ambs commented on #101
All tests successful.
This is perl 5, version 24, subversion 0 (v5.24.0) built for darwin-2level

[2016-10-01 20:14] ambs commented on #100
Can't we define GSL_1 or GSL_2 and use that in our code?

[2016-10-01 20:22] ambs commented on #100
swig supports -D in its callback, and the use of #if / #endif constructs.

[2016-10-02 01:49] leto commented on #101
I am inclined to believe that this is a bug with the Travis CI VM not having access to Perl header files, since me, you and all of CPANtesters can build our code.

[2016-10-02 02:19] leto commented on #100
@ambs a patch using your newly implemented version constant is very welcome 😈

[2016-10-02 03:50] leto commented on #34
@ambs should we actually care about this?

[2016-10-02 04:27] #12 closed

[2016-10-02 04:30] leto commented on #12
Turns out that %typemaps needs to come before %includes. And old refactor re-ordered things, which made stuff stop working.

[2016-10-02 14:22] ambs commented on #34
Supposedly, Windows support them, so, drop the test O:-)

[2016-10-02 14:23] ambs commented on #100
I need to give it a look 👀

[2016-10-02 18:56] leto commented on #101
This is because swig 2.0.4 does not support Perl 5.20+ . I am attempting to force Travis to use swig 2.0.12 now, because that is what I have locally.

[2016-10-02 19:22] leto commented on #101
Travis CI is passing again: https://travis-ci.org/leto/math--gsl/jobs/164477213

[2016-10-02 19:22] #101 closed

[2016-10-02 19:56] leto opened #103 "Make Travis CI more useful"
Currently Travis tests our code across Perl 5.10 - 5.24 on GSL 1.15 and swig 2.0.8. The issue is that none of our users will be using swig code generated with GSL 1.15. They will be using code generated with the latest GSL (currently 2.2.1) with various %ignore/%rename's in place to support older code.

What would be more useful:

* Install the latest GSL
* `perl Build.PL; ./Build; ./Build dist; .

[2016-10-02 20:04] ambs commented on #103
On 02/10/2016 20:56, Duke Leto wrote:

We can always add the generated stuff to the repo.. but... :-(

[2016-10-02 20:57] leto opened #104 "Start using travis-perl helpers"
https://github.com/travis-perl/helpers

So travis can test against Perl "dev" and "blead"

[2016-10-03 02:30] leto commented on #95
This has been added, along with docs and tests 🍻

[2016-10-03 02:30] #95 closed

[2016-10-03 04:54] leto opened #105 "Multiroots warnings"
These can't be good:
[code]

[2016-10-03 07:40] #93 closed

[2016-10-03 08:30] leto commented on #103
It wasn't easy but I now have Travis CI testing GSL 1.15 and 2.2.1 for us!

https://travis-ci.org/leto/math--gsl/builds/164567169

On the way I think I fixed a bug for people who install GSL into a custom directory with `./configure --prefix` . I *think* that was the reason for the two UNKNOWNs reported for 0.39. We were not giving the right `-I` arguments to ccflags and so the GSL header files ar

[2016-10-03 08:30] #103 closed

[2016-10-03 08:57] leto commented on #104
This is a nice overview: http://blogs.perl.org/users/graham_knop/2014/10/travis-ci-perl-helpers.html

[2016-10-03 15:44] leto commented on #100
@ambs Travis CI will now tell you if you break the build on GSL 1.15 or 2.2.1 ! I will probably add GSL 2.0 as well

[2016-10-03 15:47] leto commented on #37
I think it is reasonable to not support 5.8.0, because

* it adds a large maintenance burden
* we support all the other Perl 5.8.x releases
* that software was released over 14 years ago

I *will* update our Build.PL to reflect this, because it actually lists 5.8.0 instead of 5.8.1 currently.

[2016-10-03 15:47] #37 closed

[2016-10-03 15:53] leto commented on #34
I removed it.

[2016-10-03 15:53] #34 closed

[2016-10-03 16:06] leto commented on #91
I am not seeing XS wrappers nor Perl wrappers being built for this function, even in GSL 2.2.1

[2016-10-03 16:22] leto opened #106 "Expand FFT tests"
Currently our `gsl_fft_complex_radix2_forward` test is TODOed in `t/FFT.t` and various other FFT functions do not have tests. Some swig magic will be necessary to support certain functions.

[2016-10-03 16:24] leto opened #107 "Make gsl_vector_view_array work correctly"
We currently have a TODO test in `t/Vector.t`

[2016-10-03 16:53] leto opened #108 "Add Wavelet2D tests"
We could use some actual tests in `t/Wavelet2D.t`

[2016-10-03 16:54] leto opened #109 "Add Siman tests"
We could use some actual tests in `t/Siman.t`

[2016-10-03 16:54] leto opened #110 "Add Heapsort tests"
We could use some actual tests in `t/Heapsort.t`

[2016-10-03 16:55] leto opened #111 "Add Multimin tests"
We could use some actual tests in `t/Multimin.t`

[2016-10-03 16:56] leto opened #112 "Add IEEEUtils tests"
We could use actual tests in `t/IEEEUtils.t`

[2016-10-03 16:57] leto opened #113 "Add IEEEUtils POD"
The docs in `pod/IEEEUtils.pod` are quite bare, we should document each function and variable that can be exported.

[2016-10-03 16:58] leto opened #114 "Add more BSpline tests"
We currently only have one test in `t/BSpline.t`, we could use a few more.

[2016-10-03 17:06] leto opened #115 "Add Diff POD"
The docs in `pod/Diff.pod` should give examples for how to use each function.

[2016-10-03 17:12] leto opened #116 "Add Multilarge POD"
We should document how to use each function exported by Math::GSL::Multilarge in `pod/Multilarge.pod`

[2016-10-03 18:22] leto opened #117 "Cache building of GSL in .travis.yml"
On every commit, we build GSL 1.15/2.0/2.2.1, which takes a bunch of time.

Travis CI now has caching, which could really speed this up:

https://docs.travis-ci.com/user/caching/

Since we are compiling the exact same GSL source for every commit, this could potentially reduce our build times significantly.

[2016-10-03 18:36] leto opened #118 "Create a CONTRIBUTING.md document"
Let's make it easier for people to contribute!

[2016-10-03 18:40] Subway19 commented on #118
I would like to claim this. This would be my first open source pull request.

[2016-10-03 18:54] leto commented on #118
Sounds great, @Subway19 ! You can use https://github.com/leto/math--matrixreal/blob/master/CONTRIBUTING.md as a template.

[2016-10-03 18:59] Subway19 commented on #118
What details to add in Contributing.md doc?

[2016-10-03 19:01] NielsKornerup commented on #110
I currently do not know any Go, but would be willing to learn enough to make some Heapsort tests. Would it be viable to generate random lists and compare the result to the sort function? I see that you already have tests for that.

[2016-10-03 19:01] leto commented on #118
You can use the math--matrixreal as a template. Please add a section about testing on Travis CI:

If possible, please enable Travis CI on your fork of math--gsl so that it can run on your branch. It tests Math::GSL across multiple versions of GSL and Perl which will find various bugs.

[2016-10-03 19:06] leto commented on #110
Just to clarify, this issue requires Perl, not Go.

Basically you can convert the GSL heapsort tests from C to Perl:

http://git.savannah.gnu.org/cgit/gsl.git/tree/sort/test_heapsort.c

You don't have to support all the options/tests that they have. Just having at least one test for each heapsort function is good enough.

[2016-10-03 19:14] leto opened #119 "Multifit does not like GSL 2.0"
No good deed goes unpunished. I added GSL 2.0 to Travis and it shook out some bugs.

Looks like there were some API changes in `gsl_multifit_linear` functions between 2.0 and 2.2.1 :

https://travis-ci.org/leto/math--gsl/jobs/164708184

I will most likely just avoid building Multifit on GSL 2.0 but will see if there is a better option.

[2016-10-03 20:01] leto opened #120 "Add OS X support to Travis CI"
Travis has OS X VMs now!

It would be nice to test on them. Note that this most likely requires rewriting our .travis.yml into flexible external scripts that Do The Right Thing depending on whether we are running on Linux/OS X.

This is interdependent on #104 and if we have to do one first, adding OS X support is more important.

[2016-10-04 05:04] azhar2005 commented on #117
Hi, I would like to take this up and also try out #120 and #104 .

[2016-10-04 05:44] leto commented on #117
Sounds great! I would say this issue is the easiest of the three, so I suggest starting here.

[2016-10-05 00:18] leto commented on #117
We are now using ccache which brought build times down from about 17 minutes to 10 minutes.

https://travis-ci.org/leto/math--gsl/builds/165100797

@azhar2005 I suggest trying #104 before #120 because it will be a lot easier

[2016-10-05 00:18] #117 closed

[2016-10-05 00:19] leto commented on #119
Multifit now requires GSL 2.1, just like Multilarge.

[2016-10-05 00:19] #119 closed

[2016-10-05 00:20] leto commented on #118
@Subway19 you need any help?

[2016-10-05 06:08] azhar2005 commented on #117
Hey @leto
I tried caching the entire /tmp/gsl {1.6 -2.1} folders, that brings down the build times to around 4-5 minutes.
https://travis-ci.org/azhar2005/math--gsl/builds/165083023

ccache seems like a more elegant solution here, for curiosity sake what possible downsides are there with this approach ?

[2016-10-05 15:01] leto commented on #117
@azhar2005 awesome! Please send a PR for caching those directories and I will accept it.

ccache and caching the directories can be used together nicely. Since we know the code we are compiling + caching never changes (they are release tarballs) I don't think there are any downsides.

[2016-10-05 15:03] leto commented on #117
@azhar2005 also please add 1.16 to your list of cache directories

[2016-10-06 18:07] leto commented on #118
This is done.

[2016-10-06 18:07] #118 closed

[2016-10-06 23:58] leto commented on #106
More FFT tests have been added recently. Will create more specific issues

[2016-10-06 23:58] #106 closed

[2016-10-07 00:05] leto opened #124 "FFT stride"
Currently we have a hardcoded stride=1 in our FFT typemaps, which needs to be fixed. Regardless of what stride is passed in, we use 1.

[2016-10-07 00:08] leto opened #125 "Sparse matrix support"
It was added in 2.0, commit https://github.com/leto/gsl/commit/503b41d64e34e1b2818379abd7be74dc84ec0e97

[2016-10-07 00:11] leto opened #126 "Sparse Linear Algebra support"
added in GSL 2.0

https://www.gnu.org/software/gsl/manual/html_node/Sparse-Linear-Algebra.html

[2016-10-07 06:41] leto opened #128 "Add GSL master branch to Travis"
With our latest Travis CI changes to actually cache GSL between buids, our build times are ~5 minutes!

Now it seems reasonable to add the master branch of GSL as a testing target, in addition to the releases we support.

[2016-10-07 14:22] dosten opened #130 "Increase travis cache timeout"
As you can see here https://docs.travis-ci.com/user/caching/#Setting-the-timeout we can configure the cache timeout, by default the timeout is 3 minutes and each job runs for about 4 minutes right now (and almost one at a time), so the cache "doesn't work" right now, I propose to increase the timeout to 24hs.

[2016-10-07 14:48] leto commented on #130
@dosten we saw a huge improvement in build times recently. From 17 minutes to ~10 minutes with ccache and then down to about 5 minutes by caching the /tmp/gsl* directories. It's not clear to me if the timeout is the same as the "cache expiration" time. I think the timeout is to prevent a build from failing if uploading/downloading the cache gets stuck.

[2016-10-07 15:01] dosten commented on #130
You are right, closing..

[2016-10-07 15:01] #130 closed

[2016-10-07 17:52] leto opened #131 "FFT tests causing memory corruption"
Seems to happen rarely on OS X but every time on Linux:

[code]

from https://s3.amazonaws.com/archive.travis-ci.org/jobs/165875627/log.txt

[2016-10-08 04:09] leto opened #132 "Another FFT bug"
The function `gsl_fft_real_transform` is causing core dumps. Rarely on OS X, but every time on Travis CI. On OS X the backtrace from the coredump looks like:

[code]

All the tests pass but something happens when Perl is cleaning up memory on OS X and the test file bails out with:
[code]

[2016-10-08 05:22] leto commented on #125
We now have a Math::GSL::SparseMatrix module

[2016-10-08 05:22] #125 closed

[2016-10-08 05:23] leto opened #133 "Reading and Writing Sparse Matrices"
We need to test the following methods and add any swig typemaps necessary to `swig/SparseMatrix.i`

https://www.gnu.org/software/gsl/manual/html_node/Sparse-Matrices-Reading-and-Writing.html#Sparse-Matrices-Reading-and-Writing

[2016-10-08 05:54] leto commented on #132
Just got a backtrace from Travis CI:

[code]

at the very end of https://s3.amazonaws.com/archive.travis-ci.org/jobs/165995543/log.txt

[2016-10-08 06:25] leto commented on #132
This is Perl 5.24 and GSL 1.15:
[code]

[2016-10-08 06:32] leto commented on #132
[code]
Perl 5.16, GSL 2.1

[2016-10-08 19:52] ambs commented on #115
Pretty active in the last days. Nice to see :-)

[2016-10-08 19:52] ambs commented on #115
Check https://github.com/leto/math--gsl/pull/134

[2016-10-08 21:40] leto opened #135 "Add support for Multiset"
It was added in GSL 1.15

[2016-10-09 16:11] ambs commented on #135
Not today, but I like the concept of multisets, so I will work on this as soon as I have some time.

[2016-10-09 21:57] leto commented on #135
@ambs sounds great! Since all our supported versions have Multiset, you don't need to do any conditional compilation stuff. Just add a `swig/Multiset.i` interface file, a `pod/Multiset.pod` and a test file `t/Multiset.t` . You may need to make some tests conditional on the GSL version.

[2016-10-09 21:58] leto commented on #128
We have this now

[2016-10-09 21:58] #128 closed

[2016-10-19 20:30] ambs commented on #135
--mark--

[2016-10-21 20:42] ambs commented on #135
#136

[2016-10-21 20:43] ambs opened #137 "MultiSet I/O"
Complement the current OO API on MultiSet to support direct I/O.

[2016-10-22 16:49] leto commented on #135
@ambs from Travis CI: ```cc: error: xs/MultiSet_wrap.2.2.1.c: No such file or directory
cc: fatal error: no input files
compilation terminated.
error building .o file from 'xs/MultiSet_wrap.2.2.1.c' at inc/GSLBuilder.pm line 360.```

Please fix :)

[2016-10-22 19:23] ambs commented on #135
C files aren't generated automatically?

[2016-10-22 19:56] ambs commented on #135
hmms, exactly... xs/*_wrap.c is in gitignore. So, no idea what I missed, sorry. Can you be more explicit? -- maybe I am just tired...

[2016-10-23 01:41] leto commented on #135
@ambs Read The Source, Luke! 😈  I just made a commit that should fix things: https://github.com/leto/math--gsl/commit/bd66c0a8cf65dce0eacf1b3f01aaa2406fa4a909

One other concern is that we have 4 other modules that are named Multi* (Multifit, Multilarge, Multimin, Multiroots) and none of them are CamelCase, so MultiSet doesn't quite fit in.

[2016-10-23 01:43] leto commented on #135
@ambs just realized that I assumed multiset was added in GSL 2.0 but it was actually added in GSL 1.15.

Are you testing locally? With what version of GSL?

[2016-10-23 07:17] ambs commented on #135
CamelCase: sure, I will fix it.

I am testing with 2.2.1.

[2016-10-23 12:02] ambs commented on #135
I think you Build.PL code needs to be undone, am I correct?

[2016-10-23 14:13] ambs commented on #135
Can't understand what is wrong :-/

[2016-10-23 14:43] ambs commented on #135
ok, files missing on MANIFEST. Now, it fails on 1.16

[2016-10-23 15:23] ambs commented on #135
Travis complains on 1.15, but it also fails on my debian with 1.16. :-(
will try to make some more tests later.

[2016-10-23 18:21] leto commented on #135
@ambs looks like my code to show backtraces from coredumps has paid off. This was at the end of the latest Travis run:

[code]

I also see this:

[code]

and this
[code]

[2016-10-23 18:25] ambs commented on #135
ok, somehow a 0x0 is being passed as pointer. Need to check.

[2016-10-23 18:40] leto commented on #135
I have cracked the case:

[code]

It seems `gsl_multiset_calloc` returns 0 on GSL 1.15 if k > n . I guess we should die loudly on GSL 1.15 if k > n, sound like a plan?

[2016-10-23 19:26] ambs commented on #135
Looks good. :-)
I can try to do that if you wish and not in a hurry (as in, not today).

[2016-10-23 19:47] leto commented on #135
@ambs no rush, I will leave it to you. After multiset is complete, I will release 0.40

[2016-12-23 20:55] ambs commented on #135
I think this is done and we can release 0.40 (even before adding IO for multisets)
Also because of some fixes we did in the building script, that fixes a bug biting some users.

[2017-01-02 09:58] hchienjo commented on #110
I have been assigned this module as part of the PRC and I would like to work on this issue.

[2017-01-03 02:48] leto commented on #110
@hchienjo sounds great! Are you able to clone the Math::GSL git repo and build the code + run the tests? If so, do they pass? You will need SWIG 2.0.8 or greater (which is not a dependency if you just install the CPAN module, which has generated code in it). Let me know if you need help.

[2017-01-04 09:29] hchienjo commented on #110
I have already cloned the repo, was waiting for a go ahead sign from you before I really get into work.

[2017-01-04 15:55] leto commented on #110
@hchienjo ok, go for it!

[2017-01-31 04:25] hchienjo commented on #110
I have decided to start small with this pr https://github.com/leto/math--gsl/pull/138 as I go over the use of swig and especially type conversions. I am still interested in fixing this but it will take more time as I work on the type conversions. I had thought that in order to fix this issue, only tests are required but I see that I will need to work on Heapsort.i (correct me if I am wrong). I wil

[2017-04-25 12:41] guowenshuai opened #139 "WARNING: the following files are missing in your kit:"
I'm want to install Math::GSL on windows.

the problem is

Building Math-GSL
Can't find appropriate bindings version, check 'xs' directory, it should contains bindings with version <= current GSL version (1.16) at inc/GSLBuilder.pm line 103.

the same as issues:     https://github.com/leto/math--gsl/issues/41

i don't know what to do next.

why i want to Math::GSL ??

i need to calculate the adjoi

[2017-09-27 20:36] bsefree opened #140 "Math-GSL 0.39 build error in gsl_bspline"
Installing Math::GSL via cspan as well as from source on a RHEL7 machine, running perl v5.16.3 on an x86_64 machine, with swig-2.0.10-5, is throwing the following error with bspline:

Database was generated on Wed, 27 Sep 2017 20:17:02 GMT
Running install for module 'Math::GSL'
Checksum for /home/perl-user/.cpan/sources/authors/id/L/LE/LETO/Math-GSL-0.39.tar.gz ok
'YAML' not installed, will not st

[2017-10-03 14:42] autarch commented on #104
You might find this tool I wrote helpful - https://metacpan.org/release/App-CISetup

[2017-10-03 14:45] leto commented on #104
@autarch thanks for the link! Will check it out. This is actually an old issue that can be closed, I came up with a solution for testing against various Perls that seems to be OK for now.

[2017-10-03 14:45] #104 closed

[2017-12-03 09:48] wbraswell commented on #99
We need to add Alien::GSL as a real dependency of Math::GSL so that Math::GSL can actually install correctly via CPAN instead of just failing everywhere GSL is not available.

I am working on creating a pull request for this issue, but I am stuck on an Alien::GSL bug:
https://github.com/Perl5-Alien/Alien-GSL/issues/5

[2018-01-23 02:55] anadon opened #146 "Build fails on Archlinux with failure to look up bundled library"
I can't get Math::GSL to install with a reasonable amount of effort.  There appears to be a number of lookup failures which are related, but I'm not familiar enough with the software to really say where the problem lies.

GSL is installed and is on version 2.4

perl Build.PL yields https://gist.github.com/anadon/ec02c064125e6caf8bef3977882927b8
./Build yields https://gist.github.com/anadon/57931cf

[2018-01-23 03:02] anadon commented on #146
This is for the version uploaded to CPAN.

[2018-01-23 03:08] anadon opened #147 "Another build failure on Arch, but with the git version."
I am having quite a time trying to get this to work.  This time using the git version.  It looks like 'typemap' not being defined when swig is trying to do something.

https://gist.github.com/anadon/d68437709179a64daa561af2aa595650

[2018-01-23 14:51] anadon commented on #146
This problem is not in 17.10 Ubuntu, and so may be ArchLinux specific.

[2018-01-23 18:54] anadon commented on #146
Ubuntu is also working off of GSL version 2.4, so that isn't the issue,

[2018-03-12 04:18] rgarrett7 opened #148 "swig not running from Build.PL"
On MacOS 10.13.3:

I installed GSL 2.4 . I installed SWIG using Homebrew.  I can start swig from the command line in a terminal window.  When I run "perl Build.PL" I get the following messages:

perl Build.PL
Checking for GSL using gsl-config
Found GSL 2.4 (via gsl-config) installed in /usr/local/Cellar/gsl/2.4
Checking if cc supports "-Wall"...yes
Checking if cc supports "-Wno-sometimes-uninitial

[2018-05-03 14:55] djerius opened #150 "Generating the interface code for all versions of GSL from a single version is problematic"
Currently a single version of the GSL headers is used to generate the SWIG interface code for all of the versions of GSL supported.

This is problematic, as there is a mismatch between the API's of the different versions.  In later versions deprecated functions may be removed.  If we use those headers, earlier versions will lose functionality.

Instead, I think that we should use the GSL headers f

[2018-06-21 19:20] coke opened #151 "Build fails on OS X"
Installed gls with macports:
[code]

eventually dies with:

[code]

[2018-06-27 07:59] wbraswell commented on #151
I am not an expert in Math::GSL, my best guess is that perhaps the macports build of GSL is somehow incomplete and missing at least the "_gsl_linalg_hessenberg" symbol...

@coke
I realize this is not a very convenient request, but can you please uninstall the macports GSL and instead try to build GSL from source?  This would at least tell us if the macports build is incomplete.

https://www.gnu.or

[2018-07-12 05:56] leto commented on #151
I have never used nor tested Math::GSL with macports, I suggest trying from source or homebrew. Also, `gsl_linalg_hessenberg` is a function that exists, the symbol being missing is a symptom of a larger problem.

Most like, this has to do with GSL 2.4 never being tested with Math::GSL, since it's newer than the last time I touched Math::GSL 😸  The build system is trying to use GSL 2.2 swig binding

[2018-07-13 18:10] wbraswell commented on #151
@plicease
Is there any way to use the Alien version-checking subsystem to overcome this GSL 2.2 vs 2.4 issue?
(As in, modify Alien::GSL somehow to require the correct version of GSL...)

[2018-07-13 18:16] plicease commented on #151
You can blacklist specific versions, though this is easier in the new `alienfile` system, and Alien::GSL is still using ABMB.  @jberger is the owner of that Alien so it is up to him, though I am sure he would accept a reasonable PR that improves things.

[2018-07-13 18:53] wbraswell commented on #151
Okay let's see what @jberger says

[2018-10-11 10:07] hakonhagland opened #154 "gsl_integration.h:363: Error: Syntax error - possibly a missing semicolon."
I am trying to install Math::GSL from GitHub on my Ubuntu laptop. My setup:

[code]
Installation procedure:
[code]

[2018-10-11 11:28] hakonhagland commented on #154
Could this error be related to the version of `gcc` I am using? See this stackoverflow question:
 ["missing semicolon: C++ or SWIG issue?"](https://stackoverflow.com/q/49280831/2173773).

My `gcc` version is 7.3.0:
[code]

[2018-10-11 18:19] hakonhagland commented on #154
The error says there is a syntax error on line 363 in the file `/usr/local/include/gsl/gsl_integration.h`:
[code]

I think the problem is that `GSL_VAR` is defined in another include file, namely `/usr/local/include/gsl/gsl_types.h`. For a linux system (non-windows) it is defined at line 36 as `extern`:

[code]

(for a windows system, if the macros `WIN32` and `GSL_DLL` are set it is is defined sl

[2018-10-11 18:28] djerius commented on #154
This is probably the same issue as in #141

[2018-10-12 18:41] hakonhagland opened #156 "How to create a gsl_odeiv_system structure?"
I am following this example: https://www.math.utah.edu/software/gsl/gsl-ref_367.html :

[code]
I would like to write this in Perl using `Math::GSL`. I tried:

[code]

[2018-10-13 19:04] leto commented on #156
@hakonhagland Thanks for this detailed bug report. Can you show exactly what error you get?

Also, which version of GSL and Math::GSL ?

[2018-10-13 20:44] hakonhagland commented on #156
This was run on my Ubuntu laptop:
[code]
The error I get when including the commented out line:
[code]
is
[code]

[2018-10-14 13:36] leto commented on #156
@hakonhagland have you tried creating the object, and then trying to set the jacobian? There should be some way to set it after creation time

[2018-10-14 13:39] leto commented on #156
@hakonhagland

This function can set the jacobian after creation time:

[code]

[2018-10-14 21:44] hakonhagland commented on #156
@leto I tried both:
[code]
and
[code]
both of these give error:
[code]

[2018-10-15 02:02] leto commented on #156
We may need more swig/xs glue, similar to the fdf solver stuff that was just merged

[2018-10-19 19:32] morgantomj commented on #156
leto, hakonhagland,

My thanks to both of you for looking into gsl_odeiv_system.  It may be asking a bit much, but would it be possible to add the 'driver' GSL functions to any new distro of Math::GSL::ODEIV? Note that they also require a useful gsl_odeiv_system method.

One other question: I have seen reference to 'odeiv2' in the GSL lib and in the Math::GSL::ODEIV package. How does it relate to

[2018-10-20 15:30] leto opened #157 "Add support for gsl_odeiv2"
Was added in 1.15, but Math::GSL does not know about it. Perhaps it was not auto-found because of the number in the subsystem name.

[2018-10-20 15:31] leto commented on #156
@morgantomj it looks like odeiv2 was added in 1.15 and Math::GSL has never had any glue for it. Just created an issue for that: https://github.com/leto/math--gsl/issues/157

I haven't used these 'driver' functions before, can you give an example of what you want to do with them?

[2018-10-20 15:50] morgantomj commented on #156
Duke,
 I'm interested in using the Math::GSL::ODEIV module functions to replace
some code that now uses Numerical Recipes C-code (which is copyrighted).
There is an example of using the gsl driver functions in the gsl example
for the ODEIV C-code. The example shows that the driver functions simplify
solving the ODE system. It still needs the gsl_odeiv_system data type, tho.

I don't quite follow h

[2018-10-27 12:01] djerius commented on #150
This is causing another failure mode when additional routines in a GSL module are added in a later version of GSL.  For example, the sparse matrix support in GSL v 2.2.1 added new routines.  Code generated for v 2.0 and v 2.1 now contains wrappers for the new routines which do not exist in those versions, causing  runtime undefined  symbol errors (see https://travis-ci.org/leto/math--gsl/jobs/4469

[2018-10-27 19:58] djerius commented on #150
Nope, that failure is caused by ver2func not being updated.  Documentation is definitely needed for this part!

[2018-10-28 04:24] djerius opened #159 "new challenges in supporting GSL 2.5"
GSL 2.5 poses a new backwards compatibility challenge. In addition to adding new routines, it adds a new member `work_sze` to the `gsl_spmatrix` structure.  The current framework for backwards compatibility doesn't handle changes to structures.

I've started work on 2.5 here:

https://github.com/djerius/math--gsl/tree/gsl-2.5

[2018-10-28 04:36] djerius commented on #35
I believe this has been completed with d2676aa

[2018-10-28 04:39] djerius commented on #150
Deprecated functions are handled via PR #158

[2018-10-29 07:02] #35 closed

[2018-10-29 07:10] leto commented on #159
@djerius can we generate 2.5 binding on GSL 2.5 and then copy those to a directory where GSL 2.4 has generated all other versions? Some kind of hack like that might make it possible to make a CPAN release, but it sure would be nice to make something easier on us maintainers 👼

[2018-10-30 12:50] djerius commented on #159
@leto Yeah, that would work, but as you mentioned is rather ugly.  I'm hoping there's some SWIG magic that we can use.  I tried to use the `%rename` approach, but without success, probably because it's used too early in the SWIG workflow.

If we can split out structure wrapping from function wrapping, we could wrap all of the structures just once per version of GSL and commit those.   This assumes

[2018-10-30 13:15] djerius commented on #159
It's possible I did something wrong here.  Some experimentation on a less hairy example is in order.

[2018-10-30 15:40] leto commented on #159
@djerius I've never done such SWIG/XS black magic, very cool. Does ver2func need to learn how to handle this now?

[2018-10-30 16:07] djerius commented on #159
It shouldn't have to. It should just be adding somethng like `^gsl_spmatrix::work_sze` to the `new` hash for 2.5.  Unfortunately I'm not getting SWIG to pay attention.  More debugging.

[2018-10-30 16:44] djerius commented on #159
My C is rusty.  It should be this:
[code]
Unfortunately,  swig no longer ignores `bar`.
[code]

[2018-10-30 16:51] djerius commented on #159
This is pertinent: https://github.com/swig/swig/issues/609

[2018-10-30 18:00] djerius commented on #159
I don't see an easy way to do this.

[2018-10-31 15:03] djerius commented on #159
I think I've cobbled together a path forward using the approach in the above link.  This requires a little more smarts than `ver2func` currently has, so I took the opportunity to move (almost) all of the knowledge about GSL version differences into a new Ver2Func class.  This cleans up the code quite a bit.  I'm still haven't added the code that'll get 2.5 up and running, but it should be pretty e

[2018-10-31 18:02] djerius commented on #159
I've updated that branch so that GSL 2.5 is the base version, and so far so good on Travis.

[2018-10-31 19:05] leto commented on #159
@djerius very cool! In the past, I believe this happened as well. But it was with one of the oldest supported versions of GSL (1.8 and 1.9 I think), so I just removed support for them. This situation needs something better, like what you have been working on 💯

[2018-10-31 20:57] djerius commented on #150
After working with the codebase for a while, I now understand the tradeoffs better.  The existing approach makes it easy to share code across multiple versions of GSL, at the cost of needing to keep track of which features are available in which version.  Other than some hackery needed to handle changes in C `struct`s, the approach is sound.  I withdraw my uninformed objections.

[2018-10-31 20:57] #150 closed

[2018-10-31 21:07] djerius commented on #159
I think we're set for a while.  The hackery used to ignore the changes in the C structures ignores all structure elements named `work_sze` and `work_dbl` regardless of which structure they're in.  This may cause problems in the future.

Anyway, I'm closing this 'cause #160

[2018-10-31 21:07] #159 closed

[2018-11-05 21:41] hakonhagland commented on #154
@djerius I tested the latest version now, and I can confirm everything looks ok when I run the `Build` script. Thanks for the effort!

[2018-11-05 21:46] djerius commented on #154
Excellent.  Please close this issue if you feel it has been resolved.

[2018-11-05 22:42] #154 closed

[2018-12-05 17:03] djerius opened #162 "New Release?"
Any chance of getting a new release?

[2018-12-09 17:47] leto opened #163 "Better error message when swig is not found"
`Can't find the swig binary! at inc/GSLBuilder.pm line 172`

would be a lot more useful if it gave suggestions on how to fix the problem, such as "download swig from this URL or use this apt-get/homebrew command"

[2018-12-10 17:35] leto opened #164 "Build fails on latest GSL master commits"
I made a few trivial documentation changes and our build status on master went from green to red, so it seems that something in master changed to break our build:

https://travis-ci.org/leto/math--gsl/builds/465674081

Looks like the build fails here:
[code]

[2018-12-10 17:38] leto commented on #151
@coke I am using the latest git master of Math::GSL successfully on OS X with GSL 2.5 (installed via homebrew), please confirm that it works for you and create a new issue with details, if it does not. Thanks for your bug reports!

[2018-12-10 17:38] #151 closed

[2018-12-10 17:40] leto commented on #148
@rgarrett7 those are actually all just warnings, you will notice it exits successfully. There will be a new version of Math::GSL 0.40 uploaded to CPAN soon, if you want something easier to use. Building from the git repo is mostly geared towards developers wanting to work on Math::GSL internals.

Thanks for your bug report!

[2018-12-10 17:40] #148 closed

[2018-12-10 17:43] leto commented on #139
@guowenshuai I suggest using a release from CPAN:

http://metacpan.org/pod/Math::GSL

You can also read the documentation for various modules involving complex numbers there.

[2018-12-10 17:43] #139 closed

[2018-12-10 17:45] leto commented on #147
@anadon I suggest using a CPAN release unless you are a developer wanting to work on Math::GSL internals. That way, you avoid using SWIG completely. Latest git master supports up to GSL 2.5, please create new issues for any problems you have. Math::GSL 0.40 will be on CPAN soon with GSL 2.5 support, you probably want that.

[2018-12-10 17:45] #147 closed

[2018-12-10 17:49] leto commented on #162
@djerius done, it's been uploaded to CPAN, coming it at a slim 18.6MB 🎉

Let's see what color smoke comes out of CPANtesters 🔥

[2018-12-10 17:49] #162 closed

[2018-12-11 12:43] leto opened #165 "GSL 1.16.1 bug"
Pointed out by cpantesters:

[code]
from http://www.cpantesters.org/cpan/report/e201fbd0-fcb3-11e8-b10a-d95b630068cc

Interestingly, that is the only failing test in the entire test suite in that test run.

@djerius got any time to look at this?

[2018-12-11 12:46] leto opened #166 "gsl_spline_free failing test on FreeBSD + Perl 5.26.2"
http://www.cpantesters.org/cpan/report/18d3bbde-fcce-11e8-8354-cb55eff47a06

[code]

[2018-12-11 12:57] leto opened #167 "Add GSL 2.6 support"
[code]

[2018-12-11 13:01] leto commented on #165
As far as I can tell, there never was a GSL 1.16.1 release. There is no mention of it in docs, git commits or git tags. I believe it was a Debian-only bugfix release, only people installing from Debian packages would ever see such a number.

I think the easiest fix is to rewrite s/1.16.1/1.16/ and not change Ver2Func at all

[2018-12-11 13:13] #165 closed

[2018-12-12 04:27] leto opened #168 "SparseMatrix failing tests on Linux + 0.40"
http://www.cpantesters.org/cpan/report/465bf18a-fda9-11e8-98d5-bb14e5798fec

[code]

[2019-01-07 20:15] coke commented on #151
No longer have access to the Mac I used to generate the report.

[2019-01-08 15:21] wbraswell commented on #151
@coke
Aww drat okay then, thanks anyway!

[2019-01-21 15:45] morgantomj commented on #156
Duke,
I believe that the problem with defining a system structure in the Math::GSL::ODEIV is that there is no C function that returns the 'gsl_odeiv2_system sys'  structure - in the GSL C-code example you find this C syntax to define the sys:

  gsl_odeiv2_system sys = {func, jac, 2, &mu};

If there were a C-function like ( but properly written):
gsl_odeiv2_system *sys = define_gsl_system (
int fu

[2019-06-24 23:46] wbraswell opened #169 "MS Windows in AppVeyor, Failure To Call `gsl-config` & `swig` Commands"
Howdy @leto & @bulk88 & @jberger,

Below is an overview of the work bulk88 and I have done on this issue so far...

- The previous AppVeyor RPerl build was failing due to missing `sh` prefix in call to `gsl-config` shell script:

    https://ci.appveyor.com/project/wbraswell/rperl/builds/24344424?fullLog=true#L9057

- We wrongly thought we needed to install the outdated GnuWin package to provide `

[2019-06-24 23:47] wbraswell commented on #169
@bulk88
Please let us know how to proceed, thank you sir!  :-)

[2019-10-01 20:30] polettix commented on #131
The linked log is inaccessible (maybe because it's from three years ago?)

[2019-10-01 22:10] leto commented on #131
@polettix yeah, it was probably deleted. If you can submit a documentation or test patch that improves FFT in any way, that would be good appreciated. Triggering this bug might be hard and/or it might not exist anymore

[2019-10-13 16:39] leto commented on #156
@morgantomj you might want to look at and test out the latest code from @hakonhagland . it's likely to be merged

[2019-10-16 09:21] hakonhagland opened #173 "Making travis script work for `gsl-master` aka GSL 2.6"
This issue will discuss how make the travis test for `gsl-master` pass, also related to the discussion in pull request #172.

The first issue when testing against `gsl-master` in the travis build can be seen at line #5079 of this build log (for pull request #172): https://travis-ci.org/leto/math--gsl/jobs/597321360#L5079 : it says:

[code]
which comes from line #323 in `Ver2Func.pm` : https://gith

[2019-10-16 18:58] hakonhagland commented on #173
@leto Ok that could be an issue... but to me it looks like the issue is rather related to the generated file `swig/system.i`, it looks like this:
[code]
On the other hand the `gsl` include file [`gsl/gsl_version.h`](http://git.savannah.gnu.org/cgit/gsl.git/tree/gsl_version.h.in) looks like this after installation:

[code]
If you look at the source for [`swig/Interp.i`](https://github.com/leto/math

[2019-10-17 02:44] leto commented on #173
@hakonhagland I will have to look into this and report back. It seems that you have found a bug or perhaps GSL changed underneath us, which it often does, and we need to react.

[2020-02-02 18:06] morgantomj commented on #156
Thu Jan 30 15:55:39 EST 2020

I have been thinking about how to get around the problem of using the Math::GSL::ODEIV module -
that is, to use the ODEIV (and ODEIV2) Math::GSL module. It seems to me it is necessary to pass
a C-pointer to a C-function from the perl script to the Math::GSL::ODEIV module interface methods.
But the user provided function
(that represents the Ordinary Differential Equat

[2020-02-02 20:24] hakonhagland commented on #156
Hi Tom,

nice to see that you are still working on this issue! Have you tried the code in PR #172 ? I think it solves the problem you are referring to. Can you try the following:

[code]

Then create a this Perl test script:

[code]

When I run this test script on my Ubuntu laptop I get the expected output.

[2020-02-03 03:53] leto commented on #156
@hakonhagland I would like to get some of your stuff merged, but we ran into test failures on GSL 2.6 stuff. What is the current state of things? I haven't looked at this code in a while.

[2020-02-03 04:04] morgantomj commented on #156
Håkon Hægland, duke,
Good job   ... I was able to run your code successfully after following
your instructions. Then I modified my perl code to mimic yours, and was
able to get mine to run as well.

I had to hide my gsl-2.5 library, and my Math::GSL, but things seem to be
working as advertised. My sincere thanx to the both of you for getting this
to work. I'm not sure how you did it, but I'm very

[2020-02-03 04:18] wbraswell commented on #168
I am seeing this error now, on a stable system where I have never seen it before!

SYSTEM INFO:
`Ubuntu 16.04.4 LTS`
[code]
BRIEF ERROR OUTPUT:
[code]
FULL BUILD OUTPUT:
https://pastebin.com/cvDRkkXD

[2020-02-03 04:28] leto commented on #168
@wbraswell `unsupported version: 2.1.1 at t/00-load.t line 14.` looks related, did you upgrade to GSL 2.1.1 and then do a partial recompile? That is going to confuse the heck out of our build system :smile:

[2020-02-03 04:29] leto commented on #156
@morgantomj all the thanks go to @hakonhagland for this fix, but I am glad that Math::GSL exists and is useful for you! Hopefully we can get this cleaned up and merged and working with recent versions of GSL

[2020-02-03 04:45] wbraswell opened #174 "t/00-load.t Failing Due To "unsupported version: 2.1.1""
As with https://github.com/leto/math--gsl/issues/168 , I am seeing this error now, on a stable system where I have never seen it before!

This bug appears to be related to https://github.com/leto/math--gsl/issues/165

As you can see from `gsl-config` below, my GSL version is 2.1, but still I am getting failure due to `unsupported version: 2.1.1`

SYSTEM INFO:
`Ubuntu 16.04.4 LTS`
[code]
BRIEF ERRO

[2020-02-03 04:47] wbraswell commented on #168
@leto
I thought the `unsupported version` thing might be a separate issue and have filed it as you can see above.  I have not (purposefully) upgraded to GSL 2.1.1, I am checking now to see if Ubuntu experienced any such issues.

[2020-02-03 04:48] leto commented on #174
@wbraswell thanks for the detailed bug report. Can you tell me how you install GSL? Are you using a Debian package? Sometimes they append their own version number, and we might need to teach GSL source code that 2.1.1 is the same as 2.1

[2020-02-03 05:10] wbraswell commented on #174
Also, you can see in my original post above that Debian does append something weird `+dfsg-2` to the end of the version string `Version: 2.1+dfsg-2`
COPIED FROM ORIGINAL POST:
[code]

[2020-02-03 05:23] leto commented on #174
@wbraswell I think maybe the `+dfsg-2` is somehow being mangled into 2.1.1, which the Math::GSL build system doesn't know about and so it fails. Our build system needs to learn how to deal with this format, which comes from `git describe`. Our build system should ignore the `+` and any following characters in a version string, strip them off, and that should avoid this bug.

[2020-02-03 05:27] leto commented on #174
@wbraswell one way to solve this is modifying the `current_version` variable in Build.PL, stripping out the weird stuff at the end, and things Should Work (tm) :smile:

[2020-02-03 14:46] hakonhagland commented on #156
@leto Thanks! I have also been occupied by other things the last months so I have not had time to look at the GSL 2.6 issue we discussed earlier. I will see if I can try revivify issue #173 soon, as it would be nice if we could merge this..

[2020-02-04 06:50] wbraswell commented on #174
@leto
Where is the `2.1.1` number originating from?

I would assume the most correct way to find this number is by calling `gsl-config`, but as you can see from my original post this gives the correct `2.1`:
[code]

It is only the call to `dpkg` that returns the weird `2.1+dfsg-2` version, and I don't think your software is calling the OS-specific `dpkg` command?

[2020-02-04 12:30] leto commented on #174
@wbraswell you are right, Math::GSL code does not use `dpkg` but it does read PkgConfig files from the filesystem in some places, and I think it might be possible that Debian is putting it's own version number there, and it's being mangled to 2.1.1. That is my current theory, not 100% sure of that

[2020-02-05 17:10] wbraswell commented on #174
@leto
Please show me exactly how & where Math::GSL checks for the desired GSL version number, and then I will investigate my operating system accordingly.

[2020-03-20 17:12] eserte opened #175 "Is the supported version check necessary?"
On my CentOS7 smoker the test suite fails:
[code]
However, t/00-load.t is the only test file failing. So, assuming that the test suite is comprehensive (and I think so, at least it doesn't look that short), it looks like the module is working on this system.  So maybe it would be best to remove this check at all, or at least make it non-fatal?

[2020-03-21 15:37] leto commented on #175
@eserte it seems draconian but it is actually necessary for the case when a user has a brand new GSL version that our library has no idea about, which often will cause compile or run-time errors.

Also, this bug has been fixed in a recent commit and we just need a new release to fix this, I think:

https://github.com/leto/math--gsl/commit/816f6d6e073f6c686cf08ce5eadb863868bd0709

Also, thank you v

[2020-03-21 15:38] leto opened #176 "Make a new release"
Yep.

[2020-03-21 19:50] leto commented on #175
FYI, our new fix is to not care about sub-releases like 1.15.1 but we would still fail for a new normal release we don't know about, such as 2.99

[2020-03-21 19:51] leto commented on #175
It may also be interesting to add an ENV variable that testers can set, which ignores this check and we could get test report submissions for GSL versions we don't know about yet

[2020-03-23 20:00] eserte commented on #175
But in this case the rest of the test suite will fail, and this is enough to prevent normal (unforced) installation of the module.

[2020-03-23 20:05] eserte commented on #175
Some (most?) testers set `AUTOMATED_TESTING=1`. (I normally don't, but if I know, then I can set arbitrary environment variables through distropref files)

[2020-03-24 13:07] leto commented on #175
@eserte I forgot about that, and yes, it seems that we could turn this check off for CPANtesters with that ENV var to get results for versions we potentially have never seen. Thanks for this suggestion!

Mostly what we see, is that package managers and OS's will append their own weird version number that breaks our very complex logic of which XS code to compile for the given GSL library version fo

[2020-05-08 12:43] gregoa commented on #173
Debian has upgraded libgsl to 2.6 recently, which makes Math::GSL unhappy, as expected. Cf. https://bugs.debian.org/960011

[2020-05-08 13:17] hakonhagland commented on #173
@gregoa Thanks for the information. I will have a look at it.

[2020-05-08 14:50] hakonhagland commented on #173
If I run
[code]
I get error:
[code]
and at line 375 of `gsl/gsl_sf_legendre.h` we have:
[code]
where `INLINE_DECL` is defined in `gsl/gsl_inline.h` as
[code]

[2020-05-08 17:11] leto commented on #173
@hakonhagland you need to give a lot more details like exact compiler version. Also, you are manually compiling and it can't find some files, I would not do that. Run the build script and see what errors it gets. What it comes down to, is Math::GSL needs to be updated to support the latest GSL 2.6, including telling it all new function and changed API's

[2020-05-08 18:07] hakonhagland commented on #173
@leto Thanks for the tip! I was running on Ubuntu 14.04 with swig version 2.0 and gsl-master. There seems to many unrelated errors. I am trying to untangle it. One of the errors seems to be related to commit b26ab87fcc :

[code]

notice that this commit was from 2009 and then the major version was at version 1 and minor version at 12. Now we are at major version 2 and minor version 6. And it seems

[2020-05-09 01:13] leto commented on #176
We are now a lot closer from all the hard work by @hakonhagland and others. What else needs to be done for our next release?

[2020-05-09 19:03] leto commented on #173
@hakonhagland this seems like a genuine bug. That conditional should be smarter, and handle GSL_MINOR_VERSION in a smarter way, based on GSL_MAJOR_VERSION being 1 or 2 . That should fix the issue

[2020-05-11 09:35] hakonhagland commented on #173
@leto wrote:

Yes it does! And the fix was included in merged commit a202f4f62061.

I am looking at the failed tests for #179, there is one thing I do not understand with the travis build log output. For example, if we look at the first build 18 https://travis-ci.org/github/leto/math--gsl/jobs/684820428 at [line 5713](https://travis-ci.org/github/leto/math--gsl/jobs/684820428#L5713 ) it
says:

[co

[2020-05-15 09:31] leto opened #194 "Dev Docs"
as recommended by @hakonhagland and sorely needed

[2020-06-02 22:33] pdupre0 commented on #176
Hello,

I need to have this issue fixed. I just upgrade fedora 30 to fedora 32. and all my application are unavailable because perl-Math-GSL is not compatable with GSL 2.6;
I tried to fix it, but I was not successful.
I would be happy to do more, but I need guidance.
Thanks

[2020-06-03 06:04] hakonhagland commented on #176
Thanks for reporting. Are you using the system `perl`? (i.e. not perlbrew `perl`). If you are using perlbrew `perl` remove the `sudo` below. Can you try the following:

[code]

[2020-06-03 06:33] hakonhagland commented on #176
@leto What more do we need to do before pushing the current master to CPAN?

[2020-06-03 07:26] pdupre0 commented on #176
Hello,

 

I am using perl

This is perl 5, version 30, subversion 2 (v5.30.2)

Linux Teucidide 5.6.15-300.fc32.x86_64 #1 SMP Fri May 29 14:23:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

 

===========================================================================
Patrick DUPRÉ | | email: pdupre@gmx.com
Laboratoire interdisciplinaire Carnot de Bourgogne
9 Avenue Alain Savary, BP 47870, 21078 DIJO

[2020-06-03 07:28] pdupre0 commented on #176
When can we expect to have the new verson?

Subject: Re: [leto/math--gsl] Make a new release supporting GSL 2.6 (#176)

 

@leto What more do we need to do before pushing the current master to CPAN?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-03 11:52] leto commented on #176
@hakonhagland do you want to  make this release and I will add you as comaintainer on CPAN?

[2020-06-03 12:25] hakonhagland commented on #176
@leto Thanks, I can try. I have not uploaded anything previously to CPAN, so I might need some more help..

[2020-06-08 15:49] leto commented on #176
@hakonhagland is there anything blocking you now? I just merged a bunch of stuff and fixed the version in POD

[2020-06-08 21:12] hakonhagland commented on #176
Great! I added to new PRs : #202 and #203. After they are merged I can generate a tar ball of the current master and upload to CPAN? What do you think? My PAUSE user name is HAKONH if you will add me as a comaintainer I can try and upload it..

[2020-06-09 00:27] leto commented on #176
@hakonhagland I added you as co-maintainer and PAUSE said it accepted it. Try uploading a dist and see what happens :sweat_smile:

[2020-06-09 07:53] hakonhagland commented on #176
@leto, @ambs  I tried to upload now, but seems like I am missing permissions for some of the modules (those with maintainer AMBS):

[code]

[2020-06-09 12:38] leto commented on #176
@hakonhagland this is a weird error from the fact that I think AMBS released Math::GSL versions that contained those submodules or some weird bug in PAUSE.  If we can get AMBS to give you co-maint, it may work

[2020-06-09 12:39] leto commented on #176
hey @ambs can you help us out and give HAKONH co-main on Math::GSL? He has done epic work. I gave him co-maint but it seems you are the only maintainer of some submodules and you also need to do it

[2020-06-11 14:27] hakonhagland commented on #176
@leto Seem like it worked despite the warnings about missing permissions since today I got the a [CPAN Testers Daily Summary Report](http://www.cpantesters.org/author/H/HAKONH.html) emailed. As you can see there are two test failures. How can we fix them?

[2020-06-11 15:02] leto commented on #176
@hakonhagland welcome to my pain :angel:

[2020-06-11 15:04] leto commented on #176
@hakonhagland if you click on the FAIL link for both, and look at the output, you will see they are different errors. One is from GSL.t and the other is SF.t, both precision issues

Precision-related bugs are the bane of the Math::GSL test suite. We discover many precision bugs in some OS's and compiler combinations, and it's a messy situation

[2020-06-11 17:23] leto commented on #176
If you are not scared yet, it's likely that the Math::GSL test suite has some TODO tests that are actually bugs in Perl core or related to some weird Perl non-default compilation setting on some weird OS only on some compiler versions :smiling_imp:

[2020-06-11 17:24] leto commented on #176
@hakonhagland you can TODO those tests on just those platforms, is one "middle path" way to go. To get a release in the hands of users sooner rather than later. I support that

[2020-06-11 19:13] hakonhagland commented on #176
@leto Interesting. Now the I am looking at [the first failed test](http://www.cpantesters.org/cpan/report/2adb8dd2-aae9-11ea-a021-e32c1f24ea8f) for perl 5.20.1 on FreeBSD, it says:
[code]

It I try run the `SF.t` test by it self:
[code]
So test #22 in `SF.t` seem to be this one [TEST_RT66882](https://github.com/leto/math--gsl/blob/master/t/SF.t#L30):

[code]
The RT ticket: [Fails on perls compiled

[2020-06-11 19:55] leto commented on #176
@hakonhagland welcome to the madness. That comment is like 10 years old :sweat_smile:

[2020-06-11 19:56] leto commented on #176
@hakonhagland I am OK with completely disabling those 2 tests if we have to. They are longstanding issues and not related to your recent code

[2020-06-11 20:31] leto commented on #176
@hakonhagland my guess is that `$TODO` is not set in the correct lexical scope, it should probably be passed into the `verify_results` function and then it might work

[2020-06-11 20:34] hakonhagland commented on #176
@leto Ok.. I will have a look at it. But now I am starting to having some suspicion that the test numbers from `prove -lv  t/SF.t` compared to running `./Build test` are not the same.. I am looking into it.. The [report](http://www.cpantesters.org/cpan/report/2adb8dd2-aae9-11ea-a021-e32c1f24ea8f) says:
[code]

How can I determine which test is test # 22 ?

[2020-06-11 22:08] hakonhagland commented on #176
@leto I think the test # 22 is correct.. But in if you look at [the other failed test](http://www.cpantesters.org/cpan/report/12300c18-abac-11ea-9066-e374b0ba08e8) for perl 5.28.3 on GNU/Linux, it says:
[code]
And from the output above that line:

[code]
so it seems like it is test 'is_similar(0.10005,0.1000501, 1e-7) that fails. Notice that this test is defined as, see [t/GSL.t](https://github.co

[2020-06-11 22:25] hakonhagland commented on #176
@leto This other failed test for perl 5.28.3 on GNU/Linux is really strange though. It seems to me the test simply does
[code]
which checks if `abs(0.10005 - 0.1000501) < 1e-7` . However, if I on my machine run
[code]
So I am not sure what is going on here..

[2020-06-11 22:29] leto commented on #176
@hakonhagland you can inspect the full TAP output which is numbered. You probably want these bash aliases:

[code]

[2020-06-11 23:10] hakonhagland commented on #176
Could [this line](https://github.com/leto/math--gsl/blob/master/lib/Math/GSL/Test.pm#L97) in `lib/Math/GSL/Test.pm` cause undefined behavior?

[code]
the `&&` operator depends on `diag` to return non-zero value right? As I understand the code, the meaning is to execute like this:
[code]

[2020-06-12 00:35] leto commented on #176
@hakonhagland that code looks like my shitty code from over 10+ years ago, feel free to refactor and improve it :smile:

[2020-06-12 07:18] pdupre0 commented on #176
Of course

1.00000000002876e-07 is > 1e-7

But

 

perl -E 'use bignum;$_ = abs(0.10005000 - 0.10005010); say; say "Test will fail" if $_>1e-7'
0.0000001

 

===========================================================================
Patrick DUPRÉ | | email: pdupre@gmx.com
Laboratoire interdisciplinaire Carnot de Bourgogne
9 Avenue Alain Savary, BP 47870, 21078 DIJON Cedex FRANCE
Tel: +33 (0)38039

[2020-06-12 07:54] hakonhagland commented on #176
@pdupre0 Thanks for the comment. I think I am starting to understand what is going on: on [line 38](https://github.com/leto/math--gsl/blob/master/t/GSL.t#L38) we have:

[code]
This will compare 0.10005 and 0.1000501 by calculating (se [line 96](https://github.com/leto/math--gsl/blob/master/lib/Math/GSL/Test.pm#L96) in `Test.pm`):

[code]
where `$x = 0.10005` and  `$y = 0.1000501`. The exact value

[2020-06-12 08:11] pdupre0 commented on #176
 

===========================================================================
Patrick DUPRÉ | | email: pdupre@gmx.com
Laboratoire interdisciplinaire Carnot de Bourgogne
9 Avenue Alain Savary, BP 47870, 21078 DIJON Cedex FRANCE
Tel: +33 (0)380395988
===========================================================================

 
 

Sent: Friday, June 12, 2020 at 9:54 AM
From: "Håkon Hægland" <notifi

[2020-06-12 08:30] leto commented on #176
@hakonhagland the test is correct, the bug lies in Perl, GSL or Math::GSL, as per the comment

[2020-06-12 08:31] leto commented on #176
I could give a 20 hour talk on writing tests dealing with floating point, but nobody would pay me :sweat_smile:

@hakonhagland just disable these tests completely or make them TODO on the platforms that fail, is my suggestion. If you do fix those 12+ year old bugs, you definitely earn a :beer: from me

[2020-06-12 08:37] hakonhagland commented on #176
@leto Ok you are probably right.. still I do not get it though, look at this code at [line 38](https://github.com/leto/math--gsl/blob/master/t/GSL.t#L38):
[code]
the `0` in the brackets `[0]` means check if `$delta` is *greater* than not *less* than, right? If we want to check if `$delta` is *less* than 1e-7 we should supply a `[1]` not a `[0]` right, or am I missing something?

[2020-06-12 10:57] hakonhagland opened #204 "Fix failing test TEST_RT66882 in t/SF.t"
See previous discussion in #176. I open a new issue here since the discussion in #176 also involved another failing test and I think it is becoming difficult to get an overview.

So this issue is about [the first failed test](http://www.cpantesters.org/cpan/report/2adb8dd2-aae9-11ea-a021-e32c1f24ea8f) for perl 5.20.1 on FreeBSD, it says:
[code]

It I try run the `SF.t` test by it self:
[code]
So t

[2020-06-12 14:41] hakonhagland opened #207 "Build failure on 5.18.4 Mac OS X"
We still got new [test reports](http://www.cpantesters.org/author/H/HAKONH.html) coming in, [this report](http://www.cpantesters.org/cpan/report/467244e0-ac7a-11ea-a5ed-d6ae368f371e) shows a *build* (not test) failure on Mac OS X:
[code]

Any ideas what is going on?

[2020-06-12 15:24] leto commented on #207
@hakonhagland these will happen until the end of time. I suggest you make a CPAN release.

Mac + XS errors, ugh . Apple changes the locations of header files because they hate themselves, they hate their employees, and they hate every open source software dev

[2020-06-12 19:58] hakonhagland commented on #207
@leto Ok :smile: I added three new PRs #208, #209, and #210 after those are merged I can create a new tarball and upload?

[2020-06-12 21:52] leto commented on #207
@hakonhagland yep, all are merged. Have fun :angel:

[2020-06-13 17:59] hakonhagland commented on #207
@leto It is now 20 hours since I uploaded version 0.42 but no email from cpantesters yet (just an email from PAUSE about the missing permissions for some of the modules, the same as in 0.41). I guess we have to wait to over the weekend..

[2020-06-14 00:52] leto commented on #207
@hakonhagland the missing permissions might be messing stuff up. We might want to contact a CPAN/PAUSE admin, and ask them to fix stuff

[2020-06-14 12:42] hakonhagland opened #212 "`Alien::GSL` does not work out of the box: Can't exec "gsl-config": No such file or directory at Build.PL line 296"
I tried to install `Math::GSL` from a docker container with no preinstalled `libgsl.so`, and I got the following error:
[code]
Before this output happend, `cpanm` had already installed `Alien::GSL` which installed  `libgsl.so` to (I was using `perlbrew`):
[code]
shouldn't that be enough for `Build.PL` to find `gsl-config` at
[code]
??
I can fix the problem manually by setting `PKG_CONFIG_PATH` exp

[2020-06-14 15:11] hakonhagland commented on #207
@leto Done. I sent an email to modules@perl.org

[2020-06-14 15:14] leto commented on #207
@hakonhagland hopefully they will see it's a bug in their system, but I am happy to vouch for you or whatever they need

[2020-06-14 19:38] leto commented on #212
@hakonhagland Alien::GSL has not been tested extensively, any improvements you have for it are much appreciated

[2020-07-27 13:09] hakonhagland opened #219 "Installing Math::GSL on Windows 10, MSYS2"
I am trying to install `Math::GSL` on Windows 10 using MSYS2. Currently I have been able to install the GSL library using `Alien::GSL`, but when I run `perl Build.PL` for `Math::GSL`:
[code]
I believe this is the same problem as #212 which was fixed in PR #213 (but unfortunately did not make it into [version 0.42](https://metacpan.org/pod/Math::GSL)). I will test with the code in PR #213 and see i

[2020-07-27 17:17] hakonhagland commented on #219
Yes using the fix in #213 worked:

[code]

[2020-07-27 17:18] hakonhagland commented on #219
But now I get other errors when trying to compile the C files.. I am opening a new issue for that

[2020-07-27 17:21] hakonhagland opened #220 "Installing Math::GSL on Windows 10, MSYS2 : undefined reference to `Perl_get_sv'"
I am trying to install `Math::GSL` on Windows 10 with MSYS2. When running `./Build` I get the following errors:

[code]

[2020-07-28 16:41] leto commented on #220
@hakonhagland seems like your Perl header files cannot be found or are not installed where it thinks they should be, and so compiling fails

[2020-07-31 12:35] hakonhagland opened #221 "Alien::GSL should not install GSL first to build directory and then copy the install to the dist directory: `gsl-config --prefix` gives wrong path"
I noticed in issue #220 that `Build` (and `Build.PL`) is getting the wrong path for the prefix to GSL via the command `gsl-config --prefix`. For example the output for `Build` when trying to build `Math::GSL` on Windows 10 with MSYS2 starts with:
[code]
Notice the line:
[code]
It is using the `cpanm` work directory `/home/hakon/.cpanm` instead of the the dist install directory
`/usr/share/perl5/si

[2020-08-03 20:05] hakonhagland opened #223 "Test t/Histogram.t fails on Windows 10, MSYS2 : pdf.c:46: ERROR: cannot find r in cumulative pdf"
After applying the fix in PR #222, I get some test failures (Windows 10, MSYS 2, perl version 5.32.0):

[code]

[2020-08-04 13:56] #220 closed

[2020-08-04 13:58] leto commented on #223
@hakonhagland at first glance, it seems that no error handler is defined for those tests, and something bad enough happens that causes all following tests to fail

[2020-08-06 16:17] hakonhagland commented on #223
@leto Yes, but at [line 11](https://github.com/leto/math--gsl/blob/master/t/Histogram.t#L11) the error handler is turned off.. So I wonder why the default error handler invoked?

[2020-08-06 16:36] hakonhagland commented on #223
I think the problem could be that we do not initialize the probability distribution function for the histogram, see test `GSL_HISTOGRAM_PDF_SAMPLE` on [line 271](https://github.com/leto/math--gsl/blob/master/t/Histogram.t#L271) :
[code]
according to [the documentation](https://www.gnu.org/software/gsl/doc/html/histogram.html), there is a function `gsl_histogram_pdf_init()` that can be used to init

[2020-08-06 22:20] hakonhagland opened #225 "Test t/Histogram.t fails on Windows 10, MSYS2 : copy.c:46: ERROR: histograms have different sizes, cannot copy"
After applying the fix in PR #224, I get another test failure in `Histogram.t` (Windows 10, MSYS 2, perl version 5.32.0):

[code]

[2020-08-07 12:34] #223 closed

[2020-08-07 21:27] hakonhagland commented on #225
I tried to run the test with `gdb` and apparently the call to `gsl_set_error_handler_off()` on [line 11](https://github.com/leto/math--gsl/blob/master/t/Histogram.t#L11) does not have an effect on MSYS2, so when the test function `MEMCPY()` on [line 50](https://github.com/leto/math--gsl/blob/master/t/Histogram.t#L50) is executed and the call on [line 57](https://github.com/leto/math--gsl/blob/mast

[2020-08-14 02:09] leto commented on #225
@hakonhagland I am not sure `gsl_set_error_off()` works on any platform, I remember having issues. I suggest seeing how the tests run on different platforms

[2020-08-14 18:04] hakonhagland commented on #225
It is a little bit difficult to debug this on MSYS2 since I do not have a debugging version of perl, and trying to manually install one fails. Anyway I am able to install a debug version of GSL so that helps, but it is still very strange that `gsl_set_error_handler_off()` does not work. I created a small test program:
[code]

the strange thing here is that the error is correctly installed for the

[2020-08-15 21:05] hakonhagland commented on #225
Maybe the issue is that the `./configure --enable-shared` run by `Alien::GSL` refuses to build a shared library. Due to this, the shared objects `Errno.dll` and `Histogram.dll` will be linked against the *static* `libgsl.a` which causes both libraries to include the global variable `gsl_error_handler` defined in `error.c` at [line 28](http://git.savannah.gnu.org/cgit/gsl.git/tree/err/error.c#n28)

[2020-08-15 22:57] leto commented on #225
@hakonhagland this sounds like potentially a lexical scoping issue with XS code, where we change the error handler but then switch to a different (probably a cointaining) scope which does not have the handler changed

[2020-08-15 22:58] leto commented on #225
Also, very nice debugging ❤️

[2020-12-12 07:52] hakonhagland commented on #225
@leto Thanks. I think I found the problem now.
[code]
I think the library `/opt/gsl/gsl-2.6/lib/libgsl.dll.a` is a so-called [import library](https://en.wikipedia.org/wiki/Dynamic-link_library) which just refers to some other `.dll`. The reason I got confused is that there is no `.dll` files in `/opt/gsl/gsl-2.6/lib`. However, in the `bin` directory there is:

[code]

So I reran the tests with `PA

[2021-03-20 13:56] mohawk2 commented on #176
Exact floating-point comparison is a well-known problem, so I feel your pain here! I'm just looking at expanding PDL's support for GSL, so looking at this excellent project for ideas to "be inspired by, verbatim" (steal).

Given that 0.41 supports 2.6, should this issue be closed and/or a new one opened for the precision issue?

[2021-06-25 12:19] hakonhagland opened #231 "GSL 2.7 : undefined symbol: gsl_spmatrix_uchar_norm1"
After applying PR #230, I get the following test failures:
[code]

[2021-06-25 16:44] hakonhagland commented on #231
Seems like this could be a problem with the GSL library itself, the following C program `norm.c` :

[code]

and compiled with:

[code]
produces the same error.

[2021-06-25 17:09] hakonhagland commented on #231
Added [bug report](https://lists.gnu.org/archive/html/bug-gsl/2021-06/msg00004.html).

[2021-06-25 17:21] hakonhagland opened #233 "GSL 2.7: t/Rstat.t : Failed test 'The median is 16.5'"
After applying the fix in #232, I get the following error from `./Build test`:
[code]

[2021-06-26 07:28] hakonhagland commented on #233
This seems to be caused by a change in [rquantile.c](https://git.savannah.gnu.org/cgit/gsl.git/tree/rstat/rquantile.c#n184) line 184

     if (w->n > 5)

In GSL 2.6 the line was like this:

    if (w->n >= 5)

notice the equal sign.

[2021-06-26 07:30] #231 closed, assigned to nobody

[2021-06-26 07:30] #233 closed, assigned to nobody

[2021-06-26 07:31] #225 closed

[2021-06-26 18:02] hakonhagland opened #235 "No travis builds?"
I cannot find any travis builds for the latest PRs #230, #232, and #234. When I go to  the [pull request page](https://travis-ci.org/github/leto/math--gsl/pull_requests) it says:

Any ideas what we should do?

[2021-06-28 15:33] hakonhagland opened #237 "GSL 2.7: ‘gsl_multilarge_linear_type’ {aka ‘struct <anonymous>’} has no member named ‘matrix_ptr’ when installing with GSL 2.6"
After applying PR #236, I generated a distribution
[code]
then tried to install this dist with GSL 2.6
[code]

[2021-06-28 16:05] hakonhagland opened #239 "GSL 2.7: "undefined symbol: gsl_vector_sum" when testing with GSL 2.6"
After applying PR #238, I generated a new distribution
[code]
then tried to install this dist with GSL 2.6
[code]

[2021-10-12 15:12] fschlich opened #243 "Math-GSL v0.43 / GSL 2.7: undefined symbol: gsl_matrix_char_norm1, gsl_spmatrix_char_norm1 on architectures where char is unsigned"
Hi,

in Debian we're experiencing build failures on some architectures with Math-GSL v0.43 and GSL 2.7.: see https://buildd.debian.org/status/package.php?p=libmath-gsl-perl for an overview and https://buildd.debian.org/status/fetch.php?pkg=libmath-gsl-perl&arch=arm64&ver=0.43-1&stamp=1632072156&raw=0 as an example build log.

This was not the case previously with Math-GSL v0.42 and GSL 2.6.: https

[2022-11-18 11:45] cfz1998 opened #244 "Can't locate object method "install_type" via package "Alien::GSL" at Build.PL line 254."
Hi, everyone.
What is the mean about can't locate object method "install_type" via package "Alien::GSL" at Build.PL line 254?